body {
  background-image: linear-gradient(to top, #e8198b 0%, #c7eafd 100%);
}

.container-nav {
  align-items: center;
  height: 100%;
  margin: auto;
}

.logo img {
  margin: 10px;
  border-radius: 100%;
  width: 120px;
  height: 120px;
}
.logo img:hover {
  border-radius: 100%;
  box-shadow: 0px 0px 15px 15px #a65aa2;
  -webkit-box-shadow: 0px 0px 15px 15px #a65aa2;
}

.nav-tabs a {
  box-shadow: inset 0 0 0 0 #a65aa2;
  color: #e8198b;
  margin: 0 -0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.nav-tabs a:hover {
  box-shadow: inset 100px 0 0 0 #a65aa2;
  color: rgb(93, 31, 98);
}

.container-links a {
  font-size: 20px;
  margin-left: 110px;
}

.carousel-conteiner img {
  object-fit: contain;
  height: 900px;
  width: 100%;
}

.formulario-general{
  display: flex;
  justify-content: center;
  margin: 20px;

}

.card-group {
  display: flex;
  grid-template-columns: repeat(2, 500px);
  grid-gap: 10px;
  padding: 50px;
}

.card {
  position: relative;
  width: 250px;
  height: 250px;
  background-image: linear-gradient(to top, #e8198b 0%, #c7eafd 100%);
  text-align: center;
  overflow: hidden;
}
.card:hover .card-data {
  transform: translateY(0px);
}
.card:hover .card-img {
  transform: translateX(250px);
  transition-delay: 0s;
}

.card-data {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-250px);
  transition: transform 0.5s;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.25s 0.35s;
}

.card-title {
  font-size: 26px;
}

.card-p {
  padding: 10px;
  margin-bottom: 15px;
}

.card-link {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
}
.card-link:hover {
  background-image: linear-gradient(to top, #e8198b 0%, #c7eafd 100%);
}

.container-img {
  margin:auto;
  display: flex;
  gap: 50px;
}

.card-img2 {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 80%;
  text-align: center;
  overflow: hidden;
}

.card-3 {
  position: relative;
  background-image: linear-gradient(to top, #e8198b 0%, #c7eafd 100%);
  text-align: center;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border: solid violet;
}
.card-3 img {
  transition: all 0.5s ease-in-out;
}
.card-3 img:hover {
  filter: opacity(0.5);
}

.contact_form {
  display: inline-block;
  margin: 80px, auto;
  width: 360px;
  height: auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
}

input {
  background-color: #fbfbfb;
  width: 320px;
  height: 41px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #ab4493;
  border-color: #ab4493;
  border-style: solid;
  border-radius: 10px;
  width: 320px;
  cursor: pointer;
}

button p {
  color: #fff;
}

span {
  color: #ab4493;
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

.aviso h1 {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 20px;
  color: #ab4493;
}

.aviso h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e;
}

.aviso p {
  font-size: 14px;
  color: #0e0e0e;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
}

/*# sourceMappingURL=style.css.map */
