%navegador {
  box-shadow: inset 0 0 0 0 #a65aa2;
  color: #e8198b;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
}

.nav-tabs a {
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  @extend %navegador;
}

%imagen1 {
  position: relative;
  width: 250px;
  height: 250px;
  text-align: center;
  overflow: hidden;
}

.card{
    background-image: linear-gradient(to top, #e8198b 0%, #c7eafd 100%);
    @extend %imagen1
}
